.container {
  display: flex;
  justify-content: center;
}

.contact-vk {
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: #274684;
  font-size: 17px;
}

a:active {
  color: #555;
}

@media screen and (min-width:320px) and (max-width: 767px) {
  .container {
    flex-flow: column nowrap;
    align-items: center;
  }

  .contact {
    margin: 0;
    text-align: center;
  }

  .contact-mail {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 0;
  }
}

@media screen and (min-width:768px) {
  .container {
    flex-flow: row nowrap;
    justify-content: center;
  }

  .contact > a,
  .contact > p {
    display: inline-block;
    margin-top: 10px;
  }

  .contact > a {
    margin-left: 10px;
  }
}
